/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
ul {
  list-style-type: none;
}

.page {
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
   /* ПОменять в разрешениях */
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* Text assets */
.text {
  font-family: var(--font-family);
  font-weight: var(--text-normal);
}

.text-bold {
  font-family: var(--font-family);
  font-weight: var(--text-bold);
}

/* Header */

.header {
  height: 100vh;
  min-height: 658px;  /* Не 668px из-за 10px padding-top */
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding-main-page);
}

/* Menu */
.header__theme-menu {
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
  color: var(--menu-color);
}

.header__theme-menu-button {
  font-size: 18px;
  width: 70px;
  height: 26px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

/* Menu effects */
.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
}

/* Corners */
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decoration-color);
  border-top: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
}

.header.decorated-zone {
  position: relative;
}

.header.decorated-zone::before {
  inset: var(--padding-main-page) var(--padding-main-page) auto auto;
}

.header.decorated-zone::after {
  inset: auto auto var(--padding-main-page) var(--padding-main-page);
}

/* REC */
.rec {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--decoration-color);
  font-size: 18px;
  inset: var(--padding-main-page) calc(9px + var(--padding-main-page)) auto auto;
}

/* REC's red dot */
.rec:after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 2px var(--decoration-color);
}

/* Headline */

.headline {
  font-size: var(--headline-font-size);
  line-height: 96px;                           /* Change with resolution */
  color: var(--headline-text-color);
  text-shadow: 4px 4px 0 var(--headline-shadow-color);
}

.headline-hero-description {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}
/* Header's END */
/* Main */
main {
  padding: var(--main-padding-top-bottom) var(--padding-main-page);
}

.articles-group {
  display: flex;
  flex-direction: column;
  gap: var(--article-group-gap);
  margin-bottom: var(--article-margin-bottom);
}

/* Article's Elements Styling */
.article-description {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--article-color);
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.card-style {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}

.card-text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-bottom: 20px;  /* Нам не нужен margin-bottom в последнем тексте артикля. Свойство ниже убирвает его*/
}

.article ul li:last-child p:last-child {
  margin-bottom: 0;
}

.advice {
  margin-bottom: 20px;
}

/* Styling links */
.link {
  text-shadow: 2px 2px 0 var(--headline-shadow-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--menu-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--menu-color);
}

/* End of Articles */
/* Pictures */
.pictures {
  display: flex;
  flex-direction: column;
  gap: var(--pictures-gap);
}

.pictures-list {
  display: flex;
  flex-direction: column;
  gap: var(--pictures-gap);
}

/* Footer */
.footer {
  height: 100vh;
  min-height: 668px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-main-page);
}

/* Corners */
.footer.decorated-zone {
  position: relative;
}

.footer.decorated-zone::before {
  inset: var(--padding-main-page) var(--padding-main-page) auto auto;;
}

.footer.decorated-zone::after {
  inset: auto auto var(--padding-main-page) var(--padding-main-page) ;;
}

@media (width >= 768px) {
  /* Headline */
  .header {
    min-height: 1024px;
    max-width: 1440px;
  }

  .headline-hero {
    position: relative;
    left: calc(0px - var(--padding-main-page));
  }

  .headline-hero-description {
    width: 364px;
    height: 117px;
    justify-self: end;
  }

  /*Articles*/
  /* Vertical */
  .article.vertical {
    display: grid;
    grid-template-columns: 256px auto;
  }

  /* Horizontal */
  .article-description {
    width: 236px;
  }

  /* Pictures */
  .pictures-list {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
            "a a b"
            "c d b"
            "c e e";
    
  }

.picture {
  object-fit: cover;
}

  .picture:nth-child(1) {
    grid-area: a;
    width: 479px;
    height: 192px;
  }

  .picture:nth-child(2) {
    grid-area: b;
    width: 229px;
    height: 442px;
  }

  .picture:nth-child(3) {
    grid-area: c;
    width: 229px;
    height: 568px;
  }

  .picture:nth-child(4) {
    grid-area: d;
    width: 230px;
    height: 230px;
  }

  .picture:nth-child(5) {
    grid-area: e;
    width: 479px;
    height: 318px;
  }

}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    max-width: 1440px;
  }

  .header .header__theme-menu {
    justify-content: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .headline-hero {
    position: relative;
    line-height: 129px;
    left: calc(0px - var(--padding-main-page));
  }

  .headline-hero-description {
    width: 491px;
    height: 71px;
    
    justify-self: end;
  }

  /*--- Articles ---*/
  /* Vertical */
  .article.vertical {
    display: grid;
    grid-template-columns: 335px auto auto;
    grid-template-areas: 
                "a b b";
  }

  /* Vertical */
  .article.vertical .article-description {
    grid-area: a;
    width: auto;
  }

  .article.vertical .sections {
    grid-area: b;
  }

  /* Horizontal */
  .article.horizontal {
    display: flex;
    flex-direction: column;
  }
  
  .article.horizontal .article-description {
    width: 315px;
  }

  .article.horizontal .sections {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
                "a b c";
  }

  .article.horizontal .section:nth-child(1) {
    grid-area: a
  }

  .article.horizontal .section:nth-child(2) {
    grid-area: b
  }

  .article.horizontal .section:nth-child(3) {
    grid-area: c
  }

  /*--- Pictures ---*/

  .picture:nth-child(1) {
    grid-area: a;
    width: 650px;
    height: 260px;
  }

  .picture:nth-child(2) {
    grid-area: b;
    width: 314px;
    height: 595px;
  }

  .picture:nth-child(3) {
    grid-area: c;
    width: 315px;
    height: 768px;
  }

  .picture:nth-child(4) {
    grid-area: d;
    width: 315px;
    height: 315px;
  }

  .picture:nth-child(5) {
    grid-area: e;
    min-width: 649px;
    min-height: 433px;
  }

  /* Footer */
  .footer {
    min-height: 768px;
  }
}