/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #F1B2CE;
  --menu-color: #FF0070;
  --decoration-color: #FF0070;
  --headline-text-color: #DB00FF;
  --headline-shadow-color: #FF0070;
  --accent-color: #FF0070;
  --text-accent-color: #000028;
  --background-color: #000028;
  --article-color: var(--accent-color);
  --font-family: "IBM Plex mono", sans-serif, monospace;
  --text-normal: 400;
  --text-bold: 700;
  --headline-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --menu-gap: 10px; /* Dont change with resolution */
  
  --rec-right-inset: 19px;
  --article-group-gap: 50px;
  --pictures-gap: 10px;
  --padding-main-page: 10px;
  --header-padding-top: var(--padding-main-page);
  --main-padding-top-bottom: 40px;
  --article-margin-bottom: 50px;
}

@media (width >= 768px) {
  :root {
    --headline-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --pictures-gap: 20px;
    --padding-main-page: 20px;
    --article-margin-bottom: 80px;
    --rec-right-inset: 29px;
    --article-group-gap: 80px;
    --main-padding-top-bottom: 60px;
  }
}